
<button type="button" class="btn btn-dark" (click)="openModalAgregar(auto)">Agregar <i class="fa fa-plus"></i></button>

<div class="input-group">
  <div class="input-group-prepend">
    <div class="input-group-text"><i class="fas fa-search"></i></div>
  </div>
  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="¿Qué deseas buscar?" 
  [(ngModel)]="searchText" autocomplete="off">
</div>

<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Marca</th>
      <th scope="col">Submarca</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Modelos</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
      <tr *ngIf="displayProgressBar">
        <th colspan="7">
          <ngb-progressbar type="dark" [value]="100" [striped]=true [animated]=true></ngb-progressbar>
        </th>
      </tr>
      <tr *ngFor="let auto of autos |slice: (page-1) * pageSize : page * pageSize |filter:searchText; index as i"  (click)="mandarDataHijo(auto)">
        <th scope="row">{{auto._id }}</th>
        <td>{{auto.marca}}</td> 
        <td>{{ auto.submarca }}</td>
        <td>{{ auto.descripcion }}</td>
        <td>{{ auto.modelos | formatoModelos }}</td>
        <td (click)= "openModalConfirmarEliminar(auto)"><i appHighlight class="fas fa-trash-alt"></i></td>
        <td (click)= "openModalEditar(auto)"><i appHighlight class="fas fa-edit"></i></td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination
  
                  [(page)]="page" 
                  
                  [pageSize]="pageSize"
                  [collectionSize]="autos.length" 
                  class="d-flex justify-content-center" 
                  [maxSize]="5"
                  [rotate]="true"
                  [ellipses]="false"
                  [boundaryLinks]="true" >
</ngb-pagination>
  <app-hijo-tabla [auto] = "autoSeleccionado"></app-hijo-tabla>
