.vistas{
    background-color: lawngreen;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(255, 254, 254, 0.829);

    display: flex;
    justify-content: space-around;
    border:2px solid rgb(0, 0, 250);
    
}

.letra{
    font-size: 20px;
    font-family: font;
    color: black;
}

