.vistas{
    display: flex;
    background-color: #aad8d3;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    font-weight: bold;
}

.letra{
    font-size: 20px;
    color: black;
}

.active{
    background-color:  #00adb5;
    color: rgb(0, 0, 0);
}
