<p *ngIf="displayProgressBar">
  <ngb-progressbar type="dark" [value]="100" [striped]=true [animated]=true></ngb-progressbar>
</p>

<ng-container *ngFor='let auto of autos | slice: (page-1) * pageSize : page * pageSize'>
    <div class="list">
        <div class="icon" (click)="open(content)" (click)="onSelect(auto)" ><i class="far fa-eye" ></i> </div>
        <div class="item"> {{auto.descripcion}} </div>
    </div>  
</ng-container>
<ngb-pagination
  
[(page)]="page" 

[pageSize]="pageSize"
[collectionSize]="autos.length" 
class="d-flex justify-content-center" 
[maxSize]="5"
[rotate]="true"
[ellipses]="false"
[boundaryLinks]="true" >
</ngb-pagination>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Auto seleccionado</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class=" item">
            {{autoSeleccionado.descripcion}} - } 
        </div>
    </div>
  </ng-template>